* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}
.nav__container
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
 
}

#logo__nav
{
  
  margin-right: auto;
  
}

header{
  width: 100%;
  position: fixed;
  z-index: 10;
}
.navbar-nav{
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

ul li a{
  font-size: 1.5rem;
}

main {
  width: 100%;
}

.container__banner {
  width: 100%;
  height: 100vh;
  border: 1px solid;
}

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
justify-content: center;
background-size: cover;
color: white;
gap: 20px;
background-position: 50%;
background-repeat:no-repeat;


background-image: url(../img/fundo-pets-mb.jpg);
  
  
  
  
  
}


.button__banner {
}

.container__cards {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: solid 2px blue;
}
.card__corpo {
  width: 329px;
  display: flex;
  flex-direction: column;
  height: 511.14px;
  background: #f4f4f4;
  border-radius: 12px;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
  border: 1px solid red;
}
.bg__cardImg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-image: url(../img/comedouro-escadinha-fundotransparente.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  
}



.descricao {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  border-radius: 0 0 12px 12px;
}

.button__descricao {
  width: 276.46px;
  height: 59.3px;
  border-radius: 12px;
  justify-content:space-between ;
}

@media (min-width: 768px)
{
  
  .banner{
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../img/banner-pet-H.jpg);
    
    
    
  }
  header{
    display: flex;
    border: 2px solid red;
  }
  
  nav{
    
    width: 100%;
    
  }

.nav__container{
  margin-right: 5%;
  justify-content: flex-end;
}
.navbar-nav{
  margin: 0;
}

}

@media (min-width:1280px){

}