* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#logo__nav {
  margin-right: auto;
}

.navbar-nav {
  margin: auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: inline-block;
  position: relative;
  width: 70px;
  text-align: center;
  font-size: 0.9rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

main {
  width: 100%;
}

.container__banner {
  width: 100%;
  border: 0.1px solid;
  height: 100vh;
}

.banner {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  gap: 20px;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../img/fundo-pets-mb-463x1023.jpg);
}

.btn__explorar {
  min-width: 322px;
  min-height: 71px;
  color: #313133;
  text-transform: uppercase;
  background: rgba(51, 187, 105, 0.05);
  border: 2px solid #33bb69;
  box-sizing: border-box;
  color: white;
  border-radius: 12px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.btn__explorar::before {
  content: "";
  border-radius: 12px;
  min-width: calc(322px + 8px);
  min-height: calc(71px + 8px);
  border: 4px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.btn__explorar:hover,
.btn__explorar:focus {
  color: #00ffcb;
  transform: translateY(-6px);
}

.btn__explorar:hover::before,
.btn__explorar:focus::before {
  opacity: 1;
}

.btn__explorar::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 6px solid #33bb69;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.btn__explorar:hover::after,
.btn__explorar:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.section__cards {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-image: url(../img/home-parallax-lives-3.jpg);
}

.titulo__secao {
  padding: 37px;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-deck {
  width: 100%;
  height: 100%;
}
.card {
  margin: auto;
  border-radius: 12px;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
}
.card img {
  border-radius: 12px 12px 0 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.card-body {
  width: 100%;
  display: flex;
  border-radius: 0 0 32px 32px;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: scale(1.1);
}

.container__cards {
  width: 100%;

  flex-direction: column;
  display: flex;
  align-items: center;
  border: solid 2px blue;
}
.card__corpo {
  width: 329px;
  display: flex;
  flex-direction: column;
  height: 511.14px;
  background: #f4f4f4;
  border-radius: 12px;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
  border: 1px solid red;
}
.bg__cardImg {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-image: url(../img/comedouro-escadinha-fundotransparente.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.descricao {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
  border-radius: 0 0 12px 12px;
}

.button__descricao {
  width: 276.46px;
  height: 59.3px;
  border-radius: 12px;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 523px;

  background: #171717;
}

.footer__container {
  height: 80%;
  width: 80%;
  margin: auto;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.aluno {
  font-size: 1rem;
  color: white;
  gap: 10px;
}

.aluno span {
  opacity: 75%;
}

.aluno a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  opacity: 75%;
}
.icons {
  display: flex;
  gap: 10px;
}
@media (min-width: 768px) {
  .banner {
    width: 100%;
    height: 120vh;
    margin-top: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/banner-pet-H.jpg);
  }
  header {
    display: flex;
    flex-wrap: nowrap;
  }

  nav {
    width: 100%;
    flex-wrap: nowrap;
  }

  .nav__container {
    flex-wrap: nowrap;
    margin-right: 5%;
    justify-content: center;
  }
  .navbar-nav {
    flex-wrap: nowrap;
    width: 60%;
    margin: 0;
  }

  nav ul li {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nav-link {
    width: 100%;
    gap: 20px;
    font-size: 1rem;
  }

  .titulo__secao {
    margin-top: 15%;
  }

  .card__container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card-deck {
    width: 35%;
  }
}

@media (min-width: 1280px) {
  .nav__container {
    justify-content: flex-end;
  }
  .banner {
    margin-top: 5%;
  }
  
  .titulo__secao {
    margin-top:20%;
  }
  .section__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
  .card__container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card-deck {
    width: 30%;
  }
}
